.card-botao{
    position: absolute;
    bottom: 20px;
    left: 1rem;
    right: 1rem;
    box-sizing: border-box;
}

.card-botao  a button{
    text-decoration: none;
    color: black;
    font-size: 20px;
}

.card-botao button{
    position: relative;
    border: 2px solid rgb(161, 160, 255);
    border-radius: 10px;
    background-color: rgb(216, 253, 253);
    transition: 0.8s;
    cursor: pointer;
    box-sizing: border-box;
    width: 100%;
    height: 45px;
    
}


.card-botao:hover button{
    border: 2px solid rgb(97, 108, 255);
    border-radius: 5px;
    background-color: rgb(173, 255, 248);
}