.rodape
{
    width: 100%;
    display: flex;
    margin-top: 10px;
    height: 11rem;
    background-color: rgb(252, 251, 251);
}

.imagem-footer
{   
    margin-left: 50px;

}

.infos-rodape
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.rodape-link
{
    margin-left: 100px;
    text-decoration: none;
    list-style: none;
   
}

.destaque{
    font-size: 3vh;
    font-family: 'Josefin Sans', sans-serif;
}
  