body{
  background-color: rgb(247,243,243);
  box-sizing: border-box;
}
.grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 120px;
    margin: 10px;

  }
  .card:hover{
    cursor: pointer;
    

  }
  
  .card {
    width: 100%;
    min-height: 600px;
    border: 1px solid #ccc;
    border-radius: 1px;
    overflow: hidden;
    box-sizing: inherit;
  
  }

  .card-img {
    width:  100%;
    height: 100px;
    align-items: center;
    padding-bottom: 100%;
    position: relative;
    
    
  }
  
  .card-img img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
   
  }
  
  .card-body {
    padding: 20px;
  }
  
  .card-body h3 {
    margin-top: 0px;
  }
  .card-body p{
    margin: 5px;
  }

 .imagem{
    transition: 1s;
    
  
  }
  .card:hover .imagem{
    transform: scale(1.1);
  }
 
  
 

  
  @media (max-width: 768px) {
    .grid {
      grid-template-columns: 1fr;
    }
  }